@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Raleway:ital,wght@0,300;0,400;0,700;0,800;1,300;1,400;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

:root {
    --header-height: 70px;
    --raleway-font: 'Raleway', sans-serif;
    --opensans-font: 'Open Sans', sans-serif;
    --blue-color: #08A6E4;
    --red-color: #FB3B64;
    --green-color: #55DFB4;
    --white-color: #FFFFFF;
    --grey-color: #A5A5A5;
    --black-color: #00000029;
}

.container {
    max-width: 1352px;
    margin: 0 auto;
}

/** Header */

header {
    width: 100%;
    height: 100vh;
}

.main-header {
    width: 100%;
    height: var(--header-height);
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--color-white);
    box-shadow: 0px 3px 6px var(--black-color);
}

.logo {
    width: 142px;
    height: 37;
    font-size: 32px;
    color: var(--blue-color);
    font-family:var(--raleway-font)
}

nav ul{
    list-style: none;
    display: flex;
    height: 100%;
    align-items: center;
    font-family: var(--opensans-font);
}

nav li {
    margin-left: 75px;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-grey);
    font-size: 15px;
}

nav a:hover {
    color: var(--color-black);
    text-decoration: underline var(--blue-color);
    font-weight: 900;
}

.main-header-picture{
    width: 100%;
    height: calc(100vh - var(--header-height));
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.jumbo {
    width: 100%;
    height: 100%;
    background: url("../assets/Background.png");
    background-size: cover;
    background-position: bottom;
}

.page-title {
    text-align: center;
}

.page-title h1 {
    margin-top: 30px;
    font-family:var(--raleway-font);
    font-weight: 400;
    font-size: 49px;
}

.page-title p {
    margin-top: 20px;
    font-size: 16px;
    font-family:var(--opensans-font);
    font-weight: 400;
}

.page-title button {
    width: 400px;
    height: 40px;
    margin-top: 20px;
    border-radius: 40px;
    background-color: var(--blue-color);
    border: none;
    color:var(--white-color);
    text-align: center;
    font-size: 16px;
    font-family:var(--opensans-font);
    font-weight: 600;
}

/** Section 1 */

.section-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section-1 h2 {
    margin-top: 50px;
    font-family: var(--raleway-font);
    font-weight: 400;
}

.section-1-box h3 {
    font-family: var(--opensans-font);
    font-weight: 900;
    letter-spacing: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.section-1-box p {
    font-family: var(--opensans-font);
    font-weight: 400;
    color: var(--grey-color);
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.section-1-boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 800px;
}

.section-1-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    width: 130px;
}

.circle-image {
    display: flex;
    flex-direction: row;
}

.circle {
    width: 63px;
    height: 63px;
    border-radius: 50%;
}

.circle img {
    margin-top: 10px;
    margin-left: 30px;
}

.circle-1 {
    background-color: var(--red-color);
}

.circle-2 {
    background-color:var(--blue-color);
}

.circle-3 {
    background-color:var(--green-color);
}

/** Section 2 */

.section-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F7F7F7;
    padding: 50px;
}

.section-2 h2 {
    font-family: var(--raleway-font);
    font-weight: 400;
    margin-bottom: 50px;
}

.section-2 p {
    font-family: var(--opensans-font);
    font-weight: 400;
    margin-bottom: 50px;
    
}
.section-2-box1 {
    height: 370px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
    margin: 10px;
}

.section-2-text1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 30px;
    width: 50%;
}

.section-2-photo1 {
    width: 50%;
    height: 294px;
    z-index: 0;
}

.section-2-photo1 img {
    width: 386px;
    height: 219px;
    background-position: cover;
    z-index: 1 ;
    position: absolute;
    margin-top: 50px;
}

.section-2-photo1-square{
    width: 180px;
    height: 180px;
    background-color: #FB3B64;
    transform: rotate(-45deg);
    border-radius: 20px;
    z-index: 0;
    float: right;
    margin-top: 30px;
    margin-right: 130px;
}

.section-2-text1-line {
    width: 350px;
    border-bottom: 4px solid var(--red-color);
}

.section-2-box2 {
    height: 370px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
    margin: 10px;
}

.section-2-text2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    padding: 30px;
}

.section-2-text2-line {
    width: 350px;
    border-bottom: 4px solid var(--blue-color);
}

.section-2-photo2 {
    width:50%;
    height: 294px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-2-photo2 img{
    width: 380px;
    height: 280px;
    display: flex;
    position: absolute;
}

.section-2-photo2-circle{
    width: 280px;
    height: 280px;
    background-color: var(--blue-color);
    border-radius: 50%;
    margin-left: 20px;
}

.section-2-boxes {
    display: flex;
    justify-content: space-around;
}

.section-2-box3 {
    height: 370px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
    margin: 10px;
}

.section-2-text3 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 30px;
}

.section-2-text3-line {
    width: 350px;
    border-bottom: 4px solid var(--green-color);
}

.section-2-photo3 {
    width: 433px;
    height: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--green-color);
}

.section-2-photo3 img {
    width: 350px;
    height: 350px;
    margin-top:80px;
}

/** Section 3 */

.section-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.section-3 h2 {
    font-family: var(--raleway-font);
    font-weight: 400;
}

.section-3-boxes {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
}

.section-3-box1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--red-color);
    border-radius: 18px;
    height: 300px;
    width: 250px;
}

.section-3-box2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--blue-color);
    border-radius: 18px;
    height: 350px;
    width: 300px;
}

.section-3-box3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--green-color);
    border-radius: 18px;
    height: 300px;
    width: 250px;
}

.items ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.item-1 {
    font-family: var(--opensans-font);
    font-weight: 900;
    text-align: center;
}

.item-2-1 {
    font-family: var(--opensans-font);
    font-weight: 100;
    text-align: center;
    color: var(--red-color);
    font-size: 30px;
}

.item-2-2 {
    font-family: var(--opensans-font);
    font-weight: 100;
    text-align: center;
    color: var(--blue-color);
    font-size:30px;
}

.item-2-3 {
    font-family: var(--opensans-font);
    font-weight: 100;
    text-align: center;
    color: var(--green-color);
    font-size:30px;
}

.item-3 {
    font-family: var(--opensans-font);
    font-weight: 900;
    text-align: center;
    font-size: 12px;
}

li {
    list-style: none;
}

.item-yes {
    font-family: var(--opensans-font);
    font-size: 14px;
    margin: 10px;
}

.item-not {
    font-family: var(--opensans-font);
    font-size: 14px;
    margin: 10px;
}

.item-yes::before {
    content: "";
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-right: 10px;
    background-image: url(../assets/Checkmark.svg);
    color: var(--green-color);
    border: 1px solid var(--green-color);
    border-radius: 2px;
}
      
.item-not::before {
    content: "";
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-right: 10px;
    background-image: url(../assets/Close.svg);
}

.btn {
    text-decoration: none;
    width: 150px;
    height: 50px;
    color:var(--white-color);
    font-family: var(--opensans-font);
    font-weight: 900;
    font-size: 13px;
    text-align: center;
    border-radius: 23px;
}

.btn-1 {
    background-color: var(--red-color);
    position: relative;
    margin-bottom: -35px;
}

.btn-2 {
    background-color: var(--blue-color);
    position: relative;
    margin-bottom: -40px;
}

.btn-3 {
    background-color: var(--green-color);
    position: relative;
    margin-bottom: -30px;
}

/** Section 4 */

.section-4 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
    padding:30px;
} 

.section-4-text {
    width: 30%;
}

.section-4-text h1 {
    font-size:40px;
    font-weight: 400;
    font-family: var(--opensans-font);
    margin-bottom: 10px;
}

.section-4-text p {
    font-size:16px;
    font-weight: 400;
    font-family: var(--raleway-font);
    margin-bottom: 10px;
}

.section-4-text-contact a {
    text-decoration: none;
    font-size:16px;
    font-family: var(--raleway-font);
    color: var(--grey-color);
    text-align: center;
}


form {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.form-label {
    font-size: 11px;
    font-family: var(--raleway-font);
    color:var(--blue-color);
    font-weight: 700;
    text-transform: uppercase;
    margin: 10px 0px 10px 0px;
}

#name {
    width: 100%;
    border:none;
    border-bottom: 1px solid #95989A;
}

#email {
    width: 100%;
    border:none;
    border-bottom: 1px solid #95989A;
}

.check-box {
    display: flex;
    margin: 10px 0px 10px 0px;
}

#chk {
    border: 1px solid #95989A;
    border-radius: 4px;
    margin-right: 5px;
}

.checkbox-label {
    color: #707070;
    font-family: var(--raleway-font);
    font-size: 12px;
}

.form-btn {
    width: 150px;
    height: 40px;
    background-color: var(--blue-color);
    color: var(--white-color);
    font-size: 13px;
    font-family: var(--raleway-font);
    font-weight: 700;
    border-radius: 35px;
    border:none;
    margin-left: calc(406px - 150px)
}

/** Footer */

.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--white-color);
    box-shadow: 0px 3px 6px var(--black-color);
    padding: 20px 0;
}

.footer-logo {
    font-size: 26px;
    margin-left: 20px;
}

.footer-text {
    font-size: 11px;
    color: var(--color-grey);
    font-family: var(--opensans-font);
    font-weight: 400;
    margin-left: 20px;
}

.footer-right {
    display: flex;
    justify-content: flex-end;
}

.footer-right img {
    margin-left: 10px;
    margin-right: 20px;
}

